service-client/src/wsdl/localhost_8080/ShopService/ShopService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.scheisse_server.games.dedda.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.scheisse_server.games.dedda.org/">

<xs:element name="buy" type="tns:buy"/>

<xs:element name="buyResponse" type="tns:buyResponse"/>

<xs:element name="getAvailableItems" type="tns:getAvailableItems"/>

<xs:element name="getAvailableItemsResponse" type="tns:getAvailableItemsResponse"/>

<xs:element name="getAvailableOffers" type="tns:getAvailableOffers"/>

<xs:element name="getAvailableOffersResponse" type="tns:getAvailableOffersResponse"/>

<xs:element name="getAvailableQuantity" type="tns:getAvailableQuantity"/>

<xs:element name="getAvailableQuantityForPrice" type="tns:getAvailableQuantityForPrice"/>

<xs:element name="getAvailableQuantityForPriceResponse" type="tns:getAvailableQuantityForPriceResponse"/>

<xs:element name="getAvailableQuantityResponse" type="tns:getAvailableQuantityResponse"/>

<xs:element name="getOffersWithFilter" type="tns:getOffersWithFilter"/>

<xs:element name="getOffersWithFilterResponse" type="tns:getOffersWithFilterResponse"/>

<xs:element name="getRegularPrice" type="tns:getRegularPrice"/>

<xs:element name="getRegularPriceResponse" type="tns:getRegularPriceResponse"/>

<xs:element name="requestOffer" type="tns:requestOffer"/>

<xs:element name="requestOfferResponse" type="tns:requestOfferResponse"/>

<xs:element name="sell" type="tns:sell"/>

<xs:element name="sellResponse" type="tns:sellResponse"/>

<xs:complexType name="getAvailableQuantity">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableQuantityResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableOffers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableOffersResponse">
<xs:sequence>
<xs:element name="return" type="tns:offerContainer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerContainer">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="userId" type="xs:long"/>
<xs:element name="itemId" type="xs:long"/>
<xs:element name="amount" type="xs:long"/>
<xs:element name="price" type="xs:long"/>
<xs:element name="buy" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableQuantityForPrice">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="price" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableQuantityForPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sell">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="amount" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableItems">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableItemsResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buy">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="amount" type="xs:long"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOffersWithFilter">
<xs:sequence>
<xs:element name="filter" type="tns:itemFilterContainer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemFilterContainer">
<xs:sequence>
<xs:element name="userIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="itemIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="itemTypes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="itemNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attack" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="armor" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="value" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="level" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOffersWithFilterResponse">
<xs:sequence>
<xs:element name="return" type="tns:offerContainer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegularPrice">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegularPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestOffer">
<xs:sequence>
<xs:element name="offer" type="tns:offerContainer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestOfferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>