service-client/src/wsdl/localhost_8080/ItemService/ItemService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.scheisse_server.games.dedda.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.scheisse_server.games.dedda.org/" name="ItemService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.scheisse_server.games.dedda.org/" schemaLocation="http://localhost:8080/ItemService/ItemService?xsd=1"/>
</xsd:schema>
</types>
<message name="getItems">
<part name="parameters" element="tns:getItems"/>
</message>
<message name="getItemsResponse">
<part name="parameters" element="tns:getItemsResponse"/>
</message>
<message name="getAllItems">
<part name="parameters" element="tns:getAllItems"/>
</message>
<message name="getAllItemsResponse">
<part name="parameters" element="tns:getAllItemsResponse"/>
</message>
<message name="getItem">
<part name="parameters" element="tns:getItem"/>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"/>
</message>
<portType name="ItemService">
<operation name="getItems">
<input wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getItemsRequest" message="tns:getItems"/>
<output wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getItemsResponse" message="tns:getItemsResponse"/>
</operation>
<operation name="getAllItems">
<input wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getAllItemsRequest" message="tns:getAllItems"/>
<output wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getAllItemsResponse" message="tns:getAllItemsResponse"/>
</operation>
<operation name="getItem">
<input wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getItemRequest" message="tns:getItem"/>
<output wsam:Action="http://service.scheisse_server.games.dedda.org/ItemService/getItemResponse" message="tns:getItemResponse"/>
</operation>
</portType>
<binding name="ItemServicePortBinding" type="tns:ItemService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ItemService">
<port name="ItemServicePort" binding="tns:ItemServicePortBinding">
<soap:address location="http://localhost:8080/ItemService/ItemService"/>
</port>
</service>
</definitions>