service-client/src/wsdl/localhost_8080/UserService/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://service.scheisse_server.games.dedda.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0" targetNamespace="http://service.scheisse_server.games.dedda.org/">

    <xs:element name="changePassword" type="tns:changePassword"/>

    <xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

    <xs:element name="getContacts" type="tns:getContacts"/>

    <xs:element name="getContactsResponse" type="tns:getContactsResponse"/>

    <xs:element name="getInventoryFor" type="tns:getInventoryFor"/>

    <xs:element name="getInventoryForResponse" type="tns:getInventoryForResponse"/>

    <xs:element name="getUser" type="tns:getUser"/>

    <xs:element name="getUserResponse" type="tns:getUserResponse"/>

    <xs:element name="getUserWithPassword" type="tns:getUserWithPassword"/>

    <xs:element name="getUserWithPasswordResponse" type="tns:getUserWithPasswordResponse"/>

    <xs:complexType name="getInventoryFor">
        <xs:sequence>
            <xs:element name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getInventoryForResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:inventoryContainer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inventoryContainer">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="size" type="xs:long"/>
            <xs:element name="userId" type="xs:long"/>
            <xs:element name="slots" type="tns:slotContainer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="slotContainer">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="item" type="tns:itemContainer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemContainer">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="value" type="xs:long"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
            <xs:element name="attack" type="xs:long"/>
            <xs:element name="armor" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUserWithPassword">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUserWithPasswordResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:userContainer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="userContainer">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="experience" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getContacts">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getContactsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:userContainer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUser">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getUserResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:userContainer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="changePassword">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="oldPassword" type="xs:string" minOccurs="0"/>
            <xs:element name="newPassword" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="changePasswordResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
